In [3]:
import pandas as pd

In [9]:
df = pd.read_csv("C:\\Users\\user\\Downloads\\Utility_Energy_Registry_Monthly_County_Energy_Use__2016-2021.csv")

In [21]:
new_df = df.fillna(0)
print(new_df)

        year   data_class             data_field_display_name  \
0       2020  natural_gas  CCA-Ineligible Customer Count (SC)
1       2020  natural_gas   CCA-Ineligible Customer Count (R)
2       2020  natural_gas               Total Consumption (T)
3       2020  natural_gas         Business Consumption (SC+O)
4       2020  natural_gas   Small Consumer Consumption (R+SC)
...      ...          ...                                 ...
123708  2016  electricity               ICAP Capacity Tag (O)
123709  2016  electricity  CCA-Ineligible Customer Count (SC)
123710  2016  electricity   CCA-Ineligible Customer Count (R)
123711  2016  electricity         Business Consumption (SC+O)
123712  2016  electricity           All Other Consumption (O)

                  data_field  month  full_fips    unit  uer_id  \
0       10_ny_policy_support     12      36123   count       6
1        9_ny_policy_support     12      36123   count       6
2          6_nat_consumption     12      36123  Therms       6
3          5_nat_consumption     12      36123  Therms       6
4           6_ny_consumption     12      36123  Therms       6
...                      ...    ...        ...     ...     ...
123708   3_ny_policy_support      1      36001      MW       2
123709   8_ny_policy_support      1      36001   count       2
123710   7_ny_policy_support      1      36001   count       2
123711     2_nat_consumption      1      36001     MWh       2
123712      2_ny_consumption      1      36001     MWh       2

           data_stream utility_display_name      value  number_of_accounts  \
0       county_monthly                NYSEG       0.00                   0
1       county_monthly                NYSEG       1.00                   1
2       county_monthly                NYSEG  650748.50                3670
3       county_monthly                NYSEG  305284.90                 697
4       county_monthly                NYSEG  418952.40                3249
...                ...                  ...        ...                 ...
123708  county_monthly       Central Hudson       2.44                   0
123709  county_monthly       Central Hudson      51.00                  51
123710  county_monthly       Central Hudson     230.00                 230
123711  county_monthly       Central Hudson    1123.00                 321
123712  county_monthly       Central Hudson    1001.00                 150

       state_2
0           NY
1           NY
2           NY
3           NY
4           NY
...        ...
123708      NY
123709      NY
123710      NY
123711      NY
123712      NY

[123713 rows x 13 columns]

In [17]:
new_data = df.drop_duplicates()
print(new_data)

        year   data_class             data_field_display_name  \
0       2020  natural_gas  CCA-Ineligible Customer Count (SC)
1       2020  natural_gas   CCA-Ineligible Customer Count (R)
2       2020  natural_gas               Total Consumption (T)
3       2020  natural_gas         Business Consumption (SC+O)
4       2020  natural_gas   Small Consumer Consumption (R+SC)
...      ...          ...                                 ...
123708  2016  electricity               ICAP Capacity Tag (O)
123709  2016  electricity  CCA-Ineligible Customer Count (SC)
123710  2016  electricity   CCA-Ineligible Customer Count (R)
123711  2016  electricity         Business Consumption (SC+O)
123712  2016  electricity           All Other Consumption (O)

                  data_field  month  full_fips    unit  uer_id  \
0       10_ny_policy_support     12      36123   count       6
1        9_ny_policy_support     12      36123   count       6
2          6_nat_consumption     12      36123  Therms       6
3          5_nat_consumption     12      36123  Therms       6
4           6_ny_consumption     12      36123  Therms       6
...                      ...    ...        ...     ...     ...
123708   3_ny_policy_support      1      36001      MW       2
123709   8_ny_policy_support      1      36001   count       2
123710   7_ny_policy_support      1      36001   count       2
123711     2_nat_consumption      1      36001     MWh       2
123712      2_ny_consumption      1      36001     MWh       2

           data_stream utility_display_name      value  number_of_accounts  \
0       county_monthly                NYSEG       0.00                   0
1       county_monthly                NYSEG       1.00                   1
2       county_monthly                NYSEG  650748.50                3670
3       county_monthly                NYSEG  305284.90                 697
4       county_monthly                NYSEG  418952.40                3249
...                ...                  ...        ...                 ...
123708  county_monthly       Central Hudson       2.44                   0
123709  county_monthly       Central Hudson      51.00                  51
123710  county_monthly       Central Hudson     230.00                 230
123711  county_monthly       Central Hudson    1123.00                 321
123712  county_monthly       Central Hudson    1001.00                 150

       state_2
0           NY
1           NY
2           NY
3           NY
4           NY
...        ...
123708      NY
123709      NY
123710      NY
123711      NY
123712      NY

[123713 rows x 13 columns]

In [25]:
df["date"] = pd.to_datetime(df[["year", "month"]].assign(day=1))

In [27]:
df.drop(columns=["year", "month"], inplace=True)

In [29]:
df["data_class"] = df["data_class"].str.lower()
df["utility_display_name"] = df["utility_display_name"].str.lower()
df["state_2"] = df["state_2"].str.upper()

In [31]:
df["z_score"] = (df["value"] - df["value"].mean()) / df["value"].std()
df["outlier"] = df["z_score"].abs() > 3

In [33]:
df.sort_values(by="date", inplace=True)

In [41]:
df.to_csv("C:\\Users\\user\\Downloads\\energy_consumption_prediction.csv", index=False)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123713 entries, 123712 to 0
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   data_class               123713 non-null  object
 1   data_field_display_name  123713 non-null  object
 2   data_field               123713 non-null  object
 3   full_fips                123713 non-null  int64
 4   unit                     123713 non-null  object
 5   uer_id                   123713 non-null  int64
 6   data_stream              123713 non-null  object
 7   utility_display_name     123713 non-null  object
 8   value                    123713 non-null  float64
 9   number_of_accounts       123713 non-null  int64
 10  state_2                  123713 non-null  object
 11  date                     123713 non-null  datetime64[ns]
 12  z_score                  123713 non-null  float64
 13  outlier                  123713 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(3), object(7)
memory usage: 13.3+ MB

In [45]:
df.describe()

,full_fips,uer_id,value,number_of_accounts,date,z_score
count,123713.000000,123713.000000,1.237130e+05,1.237130e+05,123713,1.237130e+05
mean,36060.595160,5.439065,9.507460e+05,2.134277e+04,2018-06-18 13:12:30.624429056,-9.878780e-18
min,36001.000000,2.000000,-2.354534e+05,0.000000e+00,2016-01-01 00:00:00,-1.958568e-01
25%,36027.000000,5.000000,2.000000e+00,0.000000e+00,2017-03-01 00:00:00,-1.569800e-01
50%,36063.000000,6.000000,1.923000e+03,9.640000e+02,2018-06-01 00:00:00,-1.566629e-01
75%,36091.000000,6.000000,3.090408e+04,8.097000e+03,2019-10-01 00:00:00,-1.518777e-01
max,36123.000000,9.000000,2.328298e+08,1.068742e+07,2020-12-01 00:00:00,3.828621e+01
std,36.341543,1.638686,6.056464e+06,1.034629e+05,NaN,1.000000e+00